.venv/
anime_RestAPI/__pycache__/
.env
core/__pycache__/
users/__pycache__/

#This file is for testing the models in the core app inside the migrations folder
# But it is not being used in the project
test_models.py

google_login/__pycache__/
notifications/__pycache__/
products/__pycache__/
profiles/__pycache__/